:root {
   --header-fg: #222;
   --header-bg: #f0f0f0;
   --header-border: none;
}

header {
   color: var(--header-fg);
   background: var(--header-bg);
   border-bottom: var(--header-border);
}

header .title {
   text-transform: uppercase;
}